@tailwind base;
html {
    scroll-behavior: smooth;
    word-break: break-word;
}

/* ::selection {
    color: (var(--background));
    background: (var(--primary));
} */

* {
    scrollbar-width: thin;
    scrollbar-color: (var(--primary)) (var(--background));
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: (var(--background));
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: (var(--primary));
    border-radius: 10px;
    border: 3px solid (var(--background));
}
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 5%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 5%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 5%;

        --primary: 226, 49%, 46%;
        --primary-foreground: 0, 0%, 96%;

        --secondary: 220, 28%, 93%;
        --secondary-foreground: 220, 10%, 5%;

        --muted: 220, 25%, 89%;
        --muted-foreground: 220, 15%, 48%;

        --accent: 225, 30%, 91%;
        --accent-foreground: 220, 10%, 5%;

        --destructive: 357, 74%, 55%;
        --destructive-foreground: 0, 0%, 96%;

        --border: 220, 20%, 83%;
        --input: 220, 20%, 78%;
        --ring: 225, 33%, 65%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 225 15% 8%;
        --foreground: 220 10% 96%;

        --card: 225 20% 6%;
        --card-foreground: 220 10% 96%;

        --popover: 225 20% 6%;
        --popover-foreground: 220 10% 96%;

        --primary: 225 59% 60%;
        --primary-foreground: 220 10% 4%;

        --secondary: 225 20% 13%;
        --secondary-foreground: 220 10% 96%;

        --muted: 225 20% 18%;
        --muted-foreground: 225 15% 55%;

        --accent: 225 25% 14%;
        --accent-foreground: 220 10% 96%;

        --destructive: 357 74% 50%;
        --destructive-foreground: 0 0% 96%;

        --border: 225 20% 14%;
        --input: 225 20% 18%;
        --ring: 225 45% 50%;
    }

    html {
        box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            "rlig" 1,
            "calt" 1;
    }

    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
}
